.logo {
  align-items: center;
  display: flex;

  .logo-title {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;

    i {
      font-weight: 300;
      padding-left: 2px;
      color: var(--active-color-1);
    }
  }
}